@font-face {
    font-family: odin;
    src: url("./fonts/Norse-Bold.otf");
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family:'Times New Roman', Times, serif;
    overflow: hidden;
}
/* image and logo */
.image {
    width: 600px;
    position: relative;
    background-image: url("./images/leaf.avif");
    background-repeat: no-repeat;
    background-size: cover;
}
    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 80px;
        font-family: odin;
        background-color: rgb(0 0 0 / 0.5);
        margin-top: 20vh;
    }
        .odin {
            height: 120px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .logo > p {
            margin: 0px;
        }
    .credits {
        position: absolute;
        bottom: 0.3rem;
        left: 2rem;
        color: white;
    }
        .credits > a {
            color:white;
        }

/* parte sinistra */
.right {
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-weight: bold;
        font-size: 30px;
        padding-top: 6rem;
        height: 30vh;
        background-color:  rgb(236, 236, 236);
    }
        .header > p {
            margin: 0;
            padding-left: 2rem;
            width: 70%;
            text-align: justify;
        }
        .header > p:last-child {
            padding-top: 2rem;
            padding-bottom: 1rem;
        }
    /* form */
    form,
    section,
    fieldset {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
    }
        fieldset {
            border: 0;
            padding-left: 2rem;
        }
        fieldset > div {
            display: flex;
            justify-content: flex-start;
            gap: 3rem;
        }
        fieldset > div > div {
            display: flex;
            flex-direction: column;
        }
        fieldset > p {
            font-size: 24px;
            font-weight: bold;
            margin: 0;
        }
            label {
                color: rgb(99, 99, 99);
                font-weight: bold;
                font-size: 12px;
            }
            input {
                width: 300px;
                height: 1.5rem;
            }
            
    #bottom {
        border-top: 4px solid rgba(129, 129, 129, 0.2);
        background-color: rgb(231, 230, 230);
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 1.5rem;
        padding-left: 2rem;
    }
        #bottom > button {
            padding: 0.8rem 2rem;
            border-radius: 10px;
            border: 0;
            background-color: darkgreen;
            color:white;
        }
        #bottom a {
            color: darkgreen;
            text-decoration: none;
        }