@font-face {
    font-family: odin;
    src: url("./fonts/Norse-Bold.otf");
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family:'Times New Roman', Times, serif
}
/* image and logo */
.image {
    width: 600px;
    position: relative;
    background-image: url("./images/leaf.avif");
    background-repeat: no-repeat;
    background-size: cover;
}
    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 80px;
        font-family: odin;
        background-color: rgb(0 0 0 / 0.5);
        margin-top: 20vh;
    }
        .odin {
            height: 120px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .logo > p {
            margin: 0px;
        }
    .credits {
        position: absolute;
        bottom: 0.3rem;
        left: 2rem;
        color: white;
    }
        .credits > a {
            color:white;
        }

/* parte sinistra */
.right {
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-weight: bold;
        font-size: 30px;
        padding-top: 6rem;
        height: 30vh;
        background-color:  rgb(236, 236, 236);
    }
        .header > p {
            margin: 0;
            padding-left: 2rem;
            width: clamp(90% ,80% ,70%);
        }
        .header > p:last-child {
            padding-top: 2rem;
        }

    .form {
        display: flex;
        flex-direction: column;
    }